body {
    font-family: 'VT323', monospace;
    background-image: url("../image/tronGrid.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: #00c1c2;
}

.question {
    font-size: 30px;
    text-align: center;
    border-bottom: 3px solid #00c1c2 
}

.answers {
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 800px;   
}

.graphic{
    padding-right: 74px;
}

ol {
    list-style-type: none;
    padding-left: 0;
}

#clock {
    font-size: 40px;
    text-align: center;
    height: 100px;
    width: 100%;
    position:fixed;
    top:25%;
    right: 0%;
    line-height: 100px;
    margin-top: 50px;
}

.game-over {
    font-size: 70px;
    text-align: center;
}

.btn {
    font-size: 24px;
    margin-bottom: 5px;
    background-color: black;
    text-align: center;
}

.btn:hover {
    color: white;
}

#start-btn {
    font-size: 40px;
    background-color: #00c1c2;
    color: black;
    margin-top: 15%; 
}

#start-btn:hover {
    font-size: 40px;
    background-color: white;
}

#play-again-btn {
    font-size: 40px;
    background-color: #00c1c2;
    color: black;
}

#play-again-btn:hover {
    font-size: 40px;
    background-color: white;
}

#gameScreen {
    margin-top: 110px;
}

#score {
    font-size: 38px;
    margin: 25px 0px;
}

.unmute {
    background-image: url(http://franriavilla.in/images/unmute.png);
    
}
  
.mute {
    background-image: url(http://franriavilla.in/images/mute.png);
    background-size: cover;
    width: 35px;
    height: 30px;
    cursor: pointer;
    position:fixed;
    left: 10%;
    bottom: 10%;
}







